<p-drawer header="Menu Lateral" [(visible)]="exibirMenuLateral" [position]="'right'" [modal]="true" [style]="{ width: '400px' }">
  <ul class="menu-lateral-list">
    <li class="menu-lateral-item" routerLink="/">
      <a>Home</a>
    </li>
    <li class="menu-lateral-item" routerLink="/registros-de-viagens">
      <a>Registros de Viagens</a>
    </li>
    <li class="menu-lateral-item" routerLink="/funcionarios">
      <a>Funcionários</a>
    </li>
    <li class="menu-lateral-item" routerLink="/veiculos">
      <a>Veículos</a>
    </li>
  </ul>
</p-drawer>
