<p-drawer header="Menu Lateral" [(visible)]="exibirMenuLateral" [position]="'right'" [modal]="true" [style]="{ width: '400px' }">
  <ul class="menu-lateral-list">
    <li class="menu-lateral-item" routerLink="/">
      <i class="pi pi-home"></i> <a>Home</a>
    </li>
    <li class="menu-lateral-item" routerLink="/registros-de-viagens">
       <i class="pi pi-history"></i> <a>Registros de Viagens</a>
    </li>
    <li class="menu-lateral-item" routerLink="/colaboradores">
       <i class="pi pi-users"></i> <a>Colaboradores</a>
    </li>
    <li class="menu-lateral-item" routerLink="/veiculos">
       <i class="pi pi-car"></i><a>Veículos</a>
    </li>
  </ul>
</p-drawer>
