<section style="padding: 2rem; margin-bottom: 2rem;">
    
    <app-descricao-de-pagina descricao="Registros de Viagens" />

    <div style="margin-top: 1rem; display: flex; flex-wrap: wrap; gap: 1rem;">
        @for (registro of viagens; track registro.id) {
            <div class="registro-viagem">
                <app-card-registro-viagem [registroViagem]="registro" />
            </div>
        } @empty {
            <p>Nenhum registro de viagem encontrado.</p>
        }
    </div>
</section>