<section class="main_container">
    <div class="main_container_header">
        <div>
            <h2>Bem Vindo!</h2>
            <p>Esta é a página inicial da portaria online AGT.</p>
        </div>
        <div class="main_container_header_buttons">
            <p-button (onClick)="navegarParaRegistrosDeViagens()" label="Histórico de Viagens" rounded/>
            <p-button label="Registrar Nova Saída" rounded (onClick)="abrirModalRegistrarSaida()" />
            <p-button label="Registrar Novo Retorno" rounded (onClick)="abrirModalRegistrarRetorno()" />
        </div>
    </div>

    <div class="main_container_content">
        <app-patio-veiculos [veiculosEmViagem]="veiculosEmViagem" [veiculosNoPatio]="veiculosNoPatio"/>
    </div>
</section>

@if (exibirModalRegistrarSaida) {
    <p-dialog header="Registrar Saída" [(visible)]="exibirModalRegistrarSaida" [modal]="true" [style]="{ width: '50vw' }" draggable="false">
        <app-formulario-registrar-saida (saidaRegistrada)="saidaRegistradaComSucesso($event)"/>
    </p-dialog>
}


@if (exibirModalRegistrarRetorno) {
    <p-dialog header="Registrar Retorno" [(visible)]="exibirModalRegistrarRetorno" [modal]="true" [style]="{ width: '50vw' }" draggable="false">
        <app-formulario-registrar-retorno (retornoRegistrado)="retornoRegistradoComSucesso($event)"/>
    </p-dialog>
}

<p-toast position="top-center" />

