<section class="main_container">
    <div class="main_container_header">
        <div>
            <h2>Bem Vindo!</h2>
            <p>Esta é a página inicial da portaria online AGT.</p>
        </div>
        <div class="main_container_header_buttons">
            <p-button (onClick)="navegarParaRegistrosDeViagens()" label="Histórico de Viagens" rounded/>
            <p-button label="Registrar Nova Saída" rounded (onClick)="abrirModalRegistrarSaida()"/>
            <p-button label="Registrar Novo Retorno" rounded/>
        </div>
    </div>

    <div class="main_container_content">
        <app-patio-veiculos />
    </div>
</section>

@if (exibirModalRegistrarSaida) {
    <p-dialog header="Registrar Saída" [(visible)]="exibirModalRegistrarSaida" [modal]="true" [style]="{ width: '50vw' }">
        <app-formulario-registrar-saida />
    </p-dialog>
}

